.date-container {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: rgb(6, 45, 86);
    color: #ffffff;
    cursor: pointer;
    justify-content: space-between;
}

.picker-container {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1001;
    background-color: #ffffff;
}

.picker-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    min-width: 14.6rem;
    margin: auto;
    border: 1px solid #e0e0e0;

    .picker-header {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        background-color: rgb(37, 69, 90);
        color: rgb(239, 239, 239);
        padding: 0.25rem;
        align-items: center;
    }

    .picker-calendar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        place-items: center;
        background-color: #ffffff;
        .date-picker {
            margin-inline: 0.5rem;
        }
        .col-span-2 {
            grid-column: span 2;
        }

        .invalid-date {
            background: #f4c7c3;
            padding: 0.5rem;
            width: 100%;
            text-align: center;
        }
    }

    .heading-banner {
        background-color: #e0e0e0;
        color: rgba(0,0,0,.74);
        padding: 0.5rem;
        text-align: center;
        width: 100%;
    }

    .custom-selector {
        min-width: 10rem;
    }

    .footer-buttons {
        display: flex;
        justify-content: flex-end;
        margin: 0.5rem;
        gap: 0.5rem;
        background-color: #ffffff;
        .btn {
            text-transform: uppercase;
        }
    }
}



